.boton{
    text-align: center;
    margin-top: 5px;
    margin: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: $colorboton ;
    padding: 10px 15px;
    a{
        text-decoration: none;
        color: white;
        
    }
}

