.tarjeta{
    background-color:rgba(128, 128, 128, 0.336);
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: 1.5px solid #16344D;
    div{
        @include flexPropiedad(column,center,center);   
    }    
    h3{
       text-align: center;
    } 
    img{
        height: 150px;
        padding: 5px;
        justify-self: center;
        align-self: center;     
    }
    button{
        @extend .boton;
            width:150px;
        }  
}
    

